<sidebar>
<a href="#" id="tit">{{ page.title }}</a>

<nav class="navbar">
<ul class="nav-menu">
    <li><a href="#" target="_self" class="activo">Proyecto</a></li>
<li><a href="#" target="_self">Documentos</a></li>
    <li><a href="#" target="_self">Documentos</a></li>
    <li><a href="#" target="_self">Mapas</a></li>
    <li><a href="#" target="_self">Recursos</a></li>
</ul>
</nav>

<p class="nav-p">Center for Mexico and Central America | Columbia University<br/><br/>
<a href="#">Créditos</a></p>

<div class="hamburger activo">
 		<span class="bar"></span>
 		<span class="bar"></span>
    <span class="bar"></span>
</div>

</sidebar>
