
<sidebar>
<a href="#" id="tit">{{ page.title }}</a>

<nav class="navbar">

<ul class="nav-menu">
    <li><a href="#stories" target="_self">Historias</a></li>
    <li><a href="#documents" target="_self">Documentos</a></li>
    <li><a href="#maps" target="_self">Mapas</a></li>
    <li><a href="#resources" target="_self">Recursos</a></li>
</ul>

</nav>


<p class="nav-p">Traes en ti el recuerdo de otras vidas más altas.<br/><br/>
<a href="#">Créditos</a></p>


<div class="hamburger activo">
 		<span class="bar"></span>
 		<span class="bar"></span>
    <span class="bar"></span>
</div>

</sidebar>
