

<nav id='wax-sidebar'>

<a href="#" id="a_home">//</a>



<!--
    <div class='collapse navbar-collapse' id="wax-header-navbar">
      <ul class='nav navbar-nav ml-auto justify-content-end'>
        {% for item in site.menu %}
          {% if item.sub %}
            <li class='nav-item dropdown'>
              <a class='nav-link dropdown-toggle' href='#' id='wax-{{ item.label | slugify }}-dropdown' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                {{ item.label }}
              </a>
              <div class='dropdown-menu' aria-labelledby='wax-{{ item.label | slugify }}-dropdown'>
                {% for sub in item.sub %}
                  <a class='dropdown-item' href='{{ sub.link | absolute_url }}'>{{ sub.label }}</a>
                {% endfor %}
              </div>
            </li>
          {% else %}
            <li class='nav-item'>
              <a class='nav-link' href='{{ item.link | absolute_url }}'>{{ item.label }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
-->
 </nav>
