---
sitemap: false
---

/* branding */
$logo: url("{{ '/assets/logo.png' | absolute_url }}");

/* text */

$heading-font:    'DM Serif Display', serif;
$body-font:       'Inter', 'sans-serif';

/* Image Size */

$thumbnail-height: 160px;
$thumbnail-width: 200px;

/* colors */

$bg-color:        #FAFCF7;
$text-color:      #373737;
$neutro:          #ECEAE0;

$earth:           #A29690;
$earth-dark:      #423524;
$sky:             #E2EEF7;
$brick:           #E66D4B;

$green-dark:     #428270;
$green-light:    #E5F9E6;

/* viewport sizes */

$max-width:       980px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import 'bus';
