---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Artist'
    value: page.artist
  - label: 'Interviewee'
    value: page.interviewee
  - label: 'Desaparecido'
    value: page.name_disappeared
  - label: 'Relationship'
    value: page.relationship
  - label: 'Date'
    value: page.disappearance_date
  - label: 'Disappearance Location'
    value: page.disappearance_location
  - label: 'Colectivo'
    value: page.colectivo
  - label: 'Interviewer and Camera'
    value: page.interviewers_and_camera
  - label: 'Interview Date'
    value: page.interview_date
  - label: 'Region'
    value: page.location_region
  - label: 'State'
    value: page.location_state
---
